
<div class="container">
  <div class="box header-box">{{answer_rank}}/{{answer_score}}</div>
  <div class="box header-box">{{answer_popularity}}/{{answer_members}}</div>
  <div class="box header-box">{{answer_season}} {{answer_year}}</div>
  <div class="box header-box">{{answer_studios}}</div>
  <div class="box header-box">{{answer_genres}}</div>
  <div class="box header-box">{{answer_themes}}</div>
  <div class="box header-box">{{answer_rating}}</div>
  <div class="box header-box">{{answer_source}}</div>
</div>