
<div class="container">
  <div class="box header-box {{score_color}}">{{answer_rank}}/{{answer_score}}</div>
  <div class="box header-box {{members_color}}">{{answer_popularity}}/{{answer_members}}</div>
  <div class="box header-box {{air_color}}">{{answer_season}} {{answer_year}}</div>
  <div class="box header-box {{studios_color}}">{{answer_studios}}</div>
  <div class="box header-box {{genres_color}}">{{answer_genres}}</div>
  <div class="box header-box {{themes_color}}">{{answer_themes}}</div>
  <div class="box header-box {{rating_color}}">{{answer_rating}}</div>
  <div class="box header-box {{source_color}}">{{answer_source}}</div>
</div>